
.content{
      width: 100%;
      min-width:1200px;
      .banner{
        padding-top:160px;
        position: relative;
        width: 100%;
        height: 460px;
        overflow: hidden;
        min-width: 1100px;
        z-index:10;
        >.banner_bd {
            width: 100%;
            height: 460px;
            position: relative;
            overflow: hidden;
            min-width: 1100px;
            >ul{
              position:relative;
              width:100%;
              height:460px;
                >li{
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  width: 100%;
                  >a{
                   display:block; 
                   width:100%;
                   height:460px; 
                   text-align:center; 
                   margin:0 auto; 
                   position:relative; 
                   z-index:10;
                  }
                }
            }
        }   
        >.banner_hd{
            height: 14px;
            position: relative;
            width: 100%;
            margin-top: -60px;
            >ul{
              width: :100%;
              text-align: center;
                >li{
                  width: 14px;
                  display: inline-block;
                  text-align: center;
                  margin: 0 3px;
                  cursor: pointer;
                  position: relative;
                  z-index: 11;
                  >i{
                      display:inline-block;
                      width:14px;
                      height:14px;
                      border-radius:50%;
                      background-color: #e2e5da;
                    }
                  &.on{
                      >i{
                        background-color:#bda86f;
                      }
                    }
                }
            }
        }             
      }

      .ind_content{
          background-color: #735e49;
          width:100%;
          position:relative;
          z-index:30px;
          >.w{
                >.m_user_ind{
                  position: absolute;
                  right: 0;
                  top: -380px;
                  z-index: 20;
                  width: 265px;
                  >.user_core {
                      height: 222px;
                      color: #fff;
                      >.user_kl{
                          display: block;
                          height:100px;
                          width: 130px;
                          text-align: center;
                          padding:15px 0 0;
                          
                          >svg{
                            color:#fff;
                            width:100%;
                             font-size:30px;
                             height:30px;
                             line-height:30px;

                          }
                          >em{
                              display: block;
                              font-size: 28px;
                              font-weight:bold;
                              height:28px;
                              line-height: 28px;
                              margin-top:8px;
                          }
                          >b{
                            display: inline-block;
                            height: 22px;
                            font-size: 16px;
                            line-height: 22px;
                            /*letter-spacing: 2px;*/
                          }
                      }
                      >.user_zh{
                          display: block;
                          height:37px;
                          width: 114px;
                          margin-top:5px; 
                          line-height: 37px;
                          font-size: 14px;
                          color:#fff;
                          padding-left: 16px;
                          
                          >.user_ck{
                          display: inline-block;
                          font-size: 18px;
                          line-height: 18px;
                          }

                          >.user_qk{
                          display: inline-block;
                          font-size: 23px;
                          position: relative;
                          top:3px;
                          }
                      }
                      >.user_ct{
                          display: block;
                          height:60px;
                          width:265px;
                           margin-top: 5px;
                           background-color: #fff;
                           font-size: 16px;
                           line-height: 60px;
                           text-align: center;
                           >svg{
                              display: inline-block;
                              font-size:22px;
                              line-height: 22px;
                              margin-right:3px;
                           }
                      }
                  }
              }
              >.m_pt_box{
                  height: 164px;
                  /*position: relative;*/
                  overflow: hidden;
                  >ul{
                      
                      >li{
                          position: relative;
                          overflow: hidden;
                          width: 183px;
                          height: 164px;
                          >.box_item{
                              padding-top:45px;
                              background-color: #735e49;
                              position:absolute;
                              top:0;
                              width: 183px;
                              height:119px;
                              color:#bda86f;
                              >p{
                                text-align: center;
                                  >svg{
                                      display: block;
                                      height: 62px;
                                      margin:auto;
                                      font-size:62px;
                                      line-height: 62px;
                                  }
                                  >span{
                                    display: block; 
                                    font-size: 14px;
                                      margin-top:14px;
                                  }
                              } 
                              >a{ 
                                display: block;
                                position: absolute;
                                width: 183px;
                                height: 163px;
                                bottom:0;
                                top:164px;
                                background-color:#e2b454;
                                 -webkit-transition:all 0.5s;
                                 -o-transition:all 0.5s;
                                 transition:all 0.5s;
                                  >.box_text{
                                      padding-left: 36px;
                                      padding-top: 57px;
                                      height:106px;
                                      color: #fff;
                                      font-size: 14px;
                                      line-height: 18px
                                  }

                              }   
                          }                          
                          &:hover{
                              >.box_item{
                                  >a{
                                      top:1px;
                                  }
                              }
                          }
                      } 
                  }
              }
          }
      }


      /*exhibition css*/

      .exhibition{
          margin-top: 10px;
          >.m_notice{
            height:545px;
            width:250px;
              >.m_notice_w{
                  width: 230px;
                  margin:0 auto;
                  overflow:hidden;
                  >h2{
                    margin-top: 34px;
                    color:#fff;
                    font-size: 26px;
                    font-weight:bold;
                    line-height:26px;
                  }
                  >.m_notice_detail{
                      >.m_notice_c{
                        padding-top: 20px;
                        padding-bottom: 5px;
                        >.side_p{
                              >a{

                              }
                          }
                        >.side_p_c{
                              margin-top: 5px;
                              color:#fff;
                              font-size:16px;
                              line-height: 22px;
                          }
                        >.side_bottom{
                          line-height:34px;
                          height:34px;
                          font-size: 12px;
                              >.side_more{
                                  float:right;
                                  color:#fff;
                                  text-decoration: underline; 

                              }
                          }
                          &.m_t{

                          }
                          &.last_notice{
                          border-top: 1px solid #735e49;
                          }
                      }
                      
                  }
              }
          }
          >.m_prices{
              height:545px;
              width: 840px;
              >.m_prices_t{
                height: 80px;
                padding-left:20px;
                background-color:#e5c558;
                  >h2{
                      height:80px;
                      width: 180px;
                      line-height: 80px;
                      color:#fff;
                      font-size: 26px;
                      text-align: center;
                  }
                    >ul{
                      >li{
                          text-align: center;
                          margin-left: 50px;
                          width:74px;
                          >a{
                              color:#fff;
                              font-size: 14px;
                              display:block; 
                              height:61px;
                              padding-top:19px;
                              text-align: center;
                              >svg{
                                  display: block;
                                  font-size: 26px;
                                  height:28px;
                                  line-height: 26px;
                                  margin:0 auto;
                              }
                              >span{
                                  line-height: 34px;
                                  height:34px;
                              }
                              &:hover{
                                color:#fff; 
                                background-color:#e2b454;
                              }
                          }
                      }
                  }
              }
              >.m_prices_b{
                background-color: #f4f4f4;
                  position: relative;
                  width:840px; 
                  height:465px;
                  >.m_prices_c{
                      padding:15px 30px 0;
                      >.m_prices_w{
                          width:100%;
                          height:410px;
                          background-color: #fff;
                          border-bottom:2px solid #735e49; 
                          position: relative;
                          >.m_prices_tab{
                          position: absolute;
                          left: 0px;
                          top: 0px;
                          width: 100%;
                            >table{

                                >thead{
                                    >tr{
                                      border-bottom:2px solid #f4f4f4; 
                                        >th{
                                            font-size: 16px;
                                            color: #666;
                                            font-weight: normal;
                                            height: 50px;
                                            line-height: 50px;
                                            width:200px;
                                        }
                                    }
                                }
                                >tbody{

                                }
                            }
                        }           
                  }
                      >.m_prices_more{
                          height: 36px;
                          line-height: 36px;  
                          padding-bottom: 3px;       
                      }
                  }     
              }
          }

          >.m_news{
              width:622px;
              height:580px;
              padding-top: 33px;
              >.news_title{
                padding-left: 10px;
                  >h2{
                     height:36px;
                    line-height:36px;
                    font-size: 26px;
                    font-weight:bold;
                  }
              }
              >.news_list{
                  >ul{
                      >li{
                        width:290px;
                        padding:0 10px;
                        >.news_menu_t{
                            margin-top: 7px;                      
                            >a{
                              display: block;
                              font-size: 16px;
                              line-height: 36px;
                              height:36px;
                              color:#735e49;
                              &:hover{
                                color:#bda86f;
                              }
                            }
                          }
                        
                          >.news_menu_summary{
                            display: block;
                            color:#969696;
                            width:290px;
                            margin-top:9px;
                              >span{     
                                    display: block;    
                                    text-align: justify;                         
                                   font-size:12px;
                                   line-height:22px;
                              }
                              &:hover{
                                  color:#bda86f;
                              }
                          }
                          >.list_menu_b{
                                height:16px;
                              >.list_menu_more{
                                      display:block;
                                      height:16px;
                                      line-height: 16px;
                              }
                          }
                      }
                  }
              }
          }
          >.m_data{
              width:460px;
              height:580px;
              padding: 33px 8px 0 10px;
              >.m_data_title{
                  >h2{
                     height:36px;
                    line-height:36px;
                    font-size: 26px;
                    font-weight:bold;
                  }
              }
              >.m_data_c{
                margin-top:16px;
                  >.m_data_c_h{
                      >ul{
                          width:455px;
                          >li{
                              width:65px;
                              display:block;
                              height:49px;
                              text-align: center;
                              color:#fff;
                              font-size: 14px;
                              padding:17px 0 2px 0;
                              position: relative;
                              overflow: hidden;
                                >svg{
                                  position: absolute;
                                  color: #8f755c;
                                  font-size: 20px;
                                  top:-2px;
                                  right:0;
                                }
                                >span{
                                  display: inline-block;
                                  height:24px;
                                  line-height: 24px;
                                  font-size:16px;
                                }
                              &:hover{
                                  background-color: #bda86f;
                                  >svg{
                                      color:#d5cb98;
                                  }
                              }
                          }
                      }
                  }
                  >.m_data_c_b{
                      >.m_data_c_t{

                      }
                  }

              }
          }
      }


      .section{
          >.m_jys{
              width:550px;
              height:380px;
              >.m_jys_h{
                  padding:13px 55px 0;
                  height:205px;
                  text-align: center; 
                  >h2{
                    >a{
                      display: block;
                      height:76px;
                      line-height:76px;
                      font-size: 34px;
                      color:#fff;
                      &:hover{
                          color:#c2af7a;
                      }
                    }
                    
                  }
                  >p{
                    >a{
                      line-height: 22px;
                      font-size: 12px;
                      color:#fff;
                      &:hover{
                          color:#c2af7a;
                      }
                    }
                  }
              }
              >.n_jsy_b{
                  >img{
                        
                  }
              }
          }

          >.m_mt4{
              width:550px;
              height:380px;
              >.m_mt4_h{
                  >h2{
                      height:80px;
                      font-size:34px;
                      line-height: 80px;
                      text-align: center;
                      color:#fff;
                  }
              }
              >.m_mt4_m{
                  >img{
          
                  }
              }
              >.m_mt4_b{
                    height:144px;
                    padding-left:30px;
                    border-right:1px solid #735e49; 
                    >.m_mt4_xz{
                        >ul{
                            >li{
                              position: relative;
                              padding-top: 40px;
                              height: 104px;
                               width: 140px;
                                &+li{
                                    margin-left: 30px;
                                } 
                                >a{
                                  display: block;
                                  height:30px;
                                  border:1px solid #bda86f;
                                  text-align: center;
                                  line-height: 28px;
                                }
                                >svg{
                                    position: absolute;
                                    font-size: 50px;
                                    line-height: 50px;
                                    top:-25px;
                                    left:45px;
                                }
                            }
                        }
                    }
              }
          }

          >.m_fx{
            width:550px;
            height:380px; 
              >.m_fx_h{
                position: relative;
                  >h2{
                      height:80px;
                      font-size:34px;
                      line-height: 80px;
                      text-align: center;
                      color:#fff;
                  }
                  >span{
                      position: absolute;
                      top:45px;
                      right: 50px;
                      color:#fff;
                  }
              }
              >.m_fx_m{
                  >img{

                  }
              }
              >.m_fx_b{
                  height:125px;
                  padding:19px 55px 0;
                  >.m_fx_b_c{ 
                    >a{   
                      display: block;
                      line-height: 20px;
                      font-size: 12px;
                      color:#969696;
                      text-align: justify;
                      &:hover{
                        color:#c2af7a;
                      }
                    }
                  }
                  >.m_fx_b_b{
                    margin-top: 6px;
                    height:40px;
                      >.m_fx_b_more{
                        height:40px;
                        line-height: 40px;
                        color:#969696;
                        &:hover{
                          color:#c2af7a;
                          text-decoration: underline;
                        }
                      }
                  }
              }
          }

          >.m_dt{
              width:490px;
              height:362px;
              padding:18px 30px 0px;
              >.m_dt_h{
                  >h2{
                      color: #fff;
                      height:68px;
                      font-size:34px;
                      line-height: 68px;
                      text-align: center;
                  }
              }
              >.m_dt_b{
                  >ul{
                      >li+li{
                              margin-left:16px;
                            }
                      >li{
                        width:237px;
                        height: 295px;                                 
                        >.m_dt_item_t{
                          margin-bottom:8px;
                          >a{
                            display: block;
                            color:#fff;
                            font-size: 16px;
                            line-height: 20px;
                            color:#fff;
                            &:hover{
                              color:#c2af7a;
                            }
                          }
                        }
                        >.m_dt_item_img{
                            >a{
                                display: block;
                            }
                        }
                        >.m_dt_item_c{
                            margin-top:8px;                         
                            >a{ 
                                display: block;
                                line-height:14px;
                                color:#fff;
                                text-align: justify;
                                &:hover{
                                  color:#c2af7a;
                                }
                            }
                        }
                          >.m_dt_item_b{             
                              line-height: 36px;
                              >.m_dt_item_time{
                                display:inline-block;
                                  height:36px;
                                  color:#fff;
                              }
                              >.m_dt_item_more{
                                  display: inline-block;
                                  height:36px;
                                  color:#fff;
                              }
                          }
                      }
                  }   
              }
          }
      }
  }
 .footer{
    width: 100%;
    min-width: 1200px;
    >.footer_one{
        padding-top: 24px;
        height:196px;
        >ul{
            >li{
                width: 170px;
                &:last-child{
                  width:auto;
                }
                >h2{
                    font-size: 14px;
                    color:#735e49;
                    font-weight: bold;
                    line-height: 38px;
                }
                >ul{
                    >li{
                        >a{
                          display: inline-block;
                          font-size: 12px;
                          color: #fff;
                          height:24px;
                          line-height: 24px;
                          &:hover{
                            color:#735e49;
                          }
                        }
                    }
                }
            }
        }
    }
    >.footer_two{
          height: 48px;
          background: #cbba8c;
          padding-top:13px;
          >.footer_two_w{
              height: 48px; 
              >.footer_two_l{
                  color: #fff;
              }
              >.footer_two_r{
                  color: #fff;
                  >span{
                      >a{
                          color:#fff;
                      }
                      >em{
                        margin:0 3px;
                      }
                  }
                  
              }   
          }
      }
 }
