.icon{
  background-image: url(../images/Home/navStar.png);
    background-repeat: no-repeat; 
}
.gf_header{
    background-color:#735e49;
    width: 100%;
    height: 100px;
    position:relative;
    z-index:777;
    >.header_warp{
        position:relative;
        >.header_r{
            
        }
        >.header_l{
            padding-top:29px;
            padding-left:28px;
             >h1{
                  width: 212px;
                  float: left;
                  height: 61px;
                  overflow: hidden;
                >a{
                    >img{
                      width:200px;
                    }
                }  
            }
            >p{
              float: left;
              height: 53px;
              line-height: 53px;
              border-left:2px solid #bda86f;
              padding-left: 14px;
              margin-top: 6px;
              font-size: 16px;
              font-weight:bold;
                >a{
                  color: #fff;
                  >span{
                  }
                }
            }
        }
        >.header_r{
              padding: 15px 30px 0 0;
              width:486px;
             >.header_r_one{
                  >dl{
                      >dt{
                        margin:0 10px 0 20px;  
                      }
                      >dd{
                            color:#fff;
                          >a{
                            color:#fff;
                          }
                          &+dd{
                              padding-left:10px;
                          }
                          &+dt{
                              padding-left:20px;
                              border-left:1px solid;
                          }
                      }
                  }
             }
             >.header_r_two{
              margin-top: 20px;
              height:20px;
              line-height:20px;
                  >span{
                      margin-right:40px;
                  }
                  >a{
                    position:relative;
                    padding-left:14px;
                    vertical-align: middle;

                    >i{
                        position: absolute;
                        top:3px;
                        left:0;
                        width:10px;
                        height:8px;
                        background-position: 0;

                    }

                  }
             }
        }
        >.nav{
            position:absolute;
            right:0;
            top:92px;
            height:50px;
            width:950px;
            padding:0 30px;
            >ul{
                >li{  
                  width:auto;
                  >a{
                    color:#fff;
                    display:block;
                    padding:0 25px;
                    height:50px;
                    height:50px;
                    font-size:16px;
                    line-height:50px;
                    text-align: center;
                  }
                  >.nav_list{
                    border:1px solid #bda86f;
                    background-color:rgba(167,150,104,0.6);
                      >ul{
                          >li{
                              text-align: center;
                              line-height:50px;
                              height:50px;
                              &:hover{
                                >a{
                                  color:#bda86f;
                                  background-color: #fff;
                                }
                              }
                              >a{
                                 color:#fff;
                                 display: block;
                                 font-size:14px;
                                 height:50px;

                              }
                          }
                      }
                  }
                  &:hover{
                      &{
                      background-color:#fff;
                      }
                      >a{
                        color:#bda86f;
                      }
                      >.nav_list{
                        display: block;
                      }
                  }
                }
            }
        }
    }
}

.banner{
    position: relative;
    width: 100%;
    height: 540px;
    overflow: hidden;
    background: #000;
    min-width: 1100px;
    z-index:10;
    >.banner_bd {
        width: 100%;
        height: 540px;
        position: relative;
        overflow: hidden;
        min-width: 1100px;
        >ul{
            >li{
              position: absolute;
              left: 0px;
              top: 0px;
              width: 100%;
            }
        }
    }   
    >.banner_hd{
        height: 14px;
        position: relative;
        width: 100%;
        margin-top: -60px;
        >ul{
          width: :100%;
          text-align: center;
            >li{
              width: 14px;
              display: inline-block;
              text-align: center;
              margin: 0 3px;
              cursor: pointer;
              position: relative;
              z-index: 11;
              >i{
                  display:inline-block;
                  width:14px;
                  height:14px;
                  border-radius:50%;
                  background-color: #e2e5da;
                }
              &.on{
                  >i{
                    background-color:#bda86f;
                  }
                }
            }
        }
    }             
}

.ind_content{
    background-color: #735e49;
    width:100%;
    position:relative;
    z-index:30px;
    >.w{
          >.m_user_ind{
            position: absolute;
            right: 0;
            top: -380px;
            z-index: 20;
            >.user_core {
                width: 350px;
                height: 266px;
                color: #fff;
                >.user_kl{
                    display: block;
                    height:170px;
                    width: 170px;
                    text-align: center;
                    >em{
                        display: block;
                        font-size: 30px;
                        font-weight:bold;
                        margin-top: 90px;
                    }
                    >b{
                      font-size: 18px;
                      line-height: 38px;
                      letter-spacing: 2px;
                    }
                }
                >.user_zh{
                    display: block;
                    height:40px;
                    width: 170px;
                    margin-top:10px; 
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: bold;
                    color:#fff;
                }
                >.user_ct{
                    display: block;
                    height:60px;
                    width: 350px;
                     margin-top: 10px;
                     background-color: #fff;
                     font-size: 22px;
                     line-height: 60px;
                     text-align: center;
                }
            }
        }
        >.m_pt_box{
          height: 190px;
          /*position: relative;*/
          overflow: hidden;
          background-color: blue;
            >ul{
                width:1100px;
                padding:30px 0; 
                >li{
                  position: relative;
                  overflow: hidden;
                  margin-left: 20px;
                  background-color: red;
                  transition: all 0.5s ease-out 0s;
                      >a{
                        position:relative;
                        width: 400px;
                        display: block;
                        float: left;
                        left: 0;
                        top: 0;
                          >.m_pt_t{
                                width: 160px;
                                >p{
                                   width: 100%;
                                   height: 100px;
                                   text-align: center;
                                }
                                >h2{
                                      text-align: center;
                                      font-size: 14px;
                                      color: #696969;
                                      font-weight: normal;
                                      line-height: 20px;
                                      margin-top: 10px;
                                }       
                            }  
                           >.honourdetail{
                                color: #999;
                                display: none;
                                font-size: 13px;
                                height: 100px;
                                width: 160px;
                                text-align: left;
                                background-color: hotpink;
                           }  
                        }
                        &:hover{
                          >a{
                            left:-160px;
                        }       
                    }
                } 
            }
        }
    }
    
}


/*exhibition css*/

.exhibition{

    >.m_notice{
      background-color:yellow;
      height:600px;
      width:300px;
        >.m_notice_w{
            width: 200px;
            margin:0 auto;
            overflow:hidden;
            >h2{
              margin-top: 30px;
              color:#fff;
              font-size: 30px;
              font-weight:bold;
              line-height:50px;
            }
            >.m_notice_detail{
                margin-top: 20px;
                >.m_notice_c{
                  margin-bottom: 10px;
                  >.side_p{
                        >a{

                        }
                    }
                  >.side_p_c{
                        margin-top: 5px;
                        color:#fff;
                        font-size:16px;
                        line-height: 24px;
                        font-weight: bold;
                    }
                  >.side_bottom{
                        >.side_more{
                            float:right;
                            color:#fff;
                            text-decoration: underline;   
                        }
                    }
                    &.m_t{

                    }
                }
            }
        }
    }
    >.m_prices{
        height:600px;
        >.m_prices_t{
          height: 80px;
          margin-left:240px;
          background-color:#e5c558;
            >h2{
                height:80px;
                width: 200px;
                line-height: 80px;
                color:#fff;
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 5px;
                text-align: center;
                margin:0 10px;
            }
              >ul{
                border-top:1px solid #e5c558;
                >li{
                    text-align: center;
                    margin-right: 20px;
                    >a{
                        color:#fff;
                        font-size: 18px;
                        font-weight:bold;
                        display:block; 
                        height:80px;
                        line-height:80px;
                        padding:0 30px;
                        &:hover{
                          color:#e5c558; 
                          background-color:#fff;
                        }
                    }
                }
            }
        }
        >.m_prices_b{
        }
    }

    >.m_news{
        width:600px;
        height:450px;
        padding:10px 20px 0 20px;
        >.news_title{
            >h2{
               height:30px;
              line-height:30px;
              font-size: 30px;
              font-weight:bold;
            }
        }
        >.news_list{
            >ul{
                >li{
                    width:270px;
                   &:nth-of-type(even){ 
                      margin-left:20px;
                    }
                    >.news_menu_t{
                      font-size: 14px;
                      line-height: 18px;
                      height:18px;
                    }
                    >a{
                      display: block;
                        >p{
                              
                        }
                    }
                    >.list_menu_b{
                        >.list_menu_more{
                            
                        }
                    }
                }
            }
        }
    }
    >.m_data{
      width: 480px;
      padding-right: 20px;
      height:350px;
        >.m_data_title{
            >h2{
              height:44px;
              line-height:44px;
              font-size: 30px;
              font-weight: bold;
            }
        }
        >.m_data_c{
            >.m_data_c_h{
                >ul{
                  width:420px;
                    >li{
                        width:60px;
                        >a{
                          display:block;
                          height:40px;
                          text-align: center;
                          padding:20px 25px 0px;
                          color:#fff;
                          font-size: 14px;
                            >i{
                              
                            }
                        }
                        &:hover{
                            background-color: #bda86f;
                        }
                    }
                }
            }
            >.m_data_c_b{
                >.m_data_c_t{

                }
            }

        }
    }
}


.section{
    >.m_jys{
        width:550px;
        height:400px;
        >.m_jys_h{
            padding:20px 80px 0;
            height:200px;
            color:#fff;
            >h2{
              height:34px;
              line-height:34px;
              font-size: 30px;
              text-align: center;
              font-weight:bold; 
            }
            >p{
              margin-top:10px;
              line-height: 24px;
              height:18px;
              font-size: 12px;
              text-align: center;
            }
        }
        >.n_jsy_b{
            >img{
                
            }
        }
    }

    >.m_mt4{
        width:550px;
        height:400px;
        >.m_mt4_h{
            >h2{
                height:50px;
                font-size:30px;
                font-weight:bold;
                line-height: 50px;
                text-align: center;
            }
        }
        >.m_mt4_m{
            >img{
    
            }
        }
        >.m_mt4_b{
              height:120px;
              >.m_mt4_xz{
                  >ul{
                      width:406px;
                      margin:0 auto;
                      >li{
                        position: relative;
                        padding-top: 50px;
                        height: 120px;
                         width: 120px;
                          &+li{
                              margin-left: 20px;
                          } 
                          >a{
                            display: block;
                            height:28px;
                            border:1px solid #bda86f;
                            font-weight: bold;
                            text-align: center;
                            line-height: 28px;
                          }
                          >i{
                              position: absolute;
                              width:60px;
                              height:60px;
                              border-radius: 50%;
                              background-color:#bda86f;
                              top:-30px;
                              left:30px;
                          }
                      }
                  }
              }
        }
    }

    >.m_fx{
      width:550px;
      height:400px; 
        >.m_fx_h{
            >h2{
                color: #fff;
                height:50px;
                font-size:30px;
                font-weight:bold;
                line-height: 50px;
                text-align: center;
            }
        }
        >.m_fx_m{
            >img{

            }
        }
        >.m_fx_b{
            padding:10px 50px;
            >.m_fx_b_c{    
                line-height: 20px;
                font-size: 12px;
            }
            >.m_fx_b_b{
              margin-top: 10px;
                >.m_fx_b_time{
                }
                >.m_fx_b_more{
                    text-decoration:underline;
                }
            }
        }
    }

    >.m_dt{
        width:550px;
        height:400px;
        >.m_dt_h{
            padding-top:20px; 
            >h2{
                color: #fff;
                height:34px;
                font-size:30px;
                font-weight:bold;
                line-height: 30px;
                text-align: center;
            }
        }
        >.m_dt_b{
            >ul{
              width:420px;
              margin:0 auto;
                li+li{
                        margin-left:20px;
                      }
                >li{
                  width:200px;
                    
                    >a{
                        color:#fff;
                        display: block;
                        >.m_dt_item_h{
                          height:60px;
                            >.m_dt_item_t{
                                font-size: 14px;
                            }
                            >.m_dt_item_d{
                                .span{

                                }
                            }
                        }
                        >img{

                        }
                    }
                    >.m_dt_item_c{
                        margin-top:10px;
                        font-size: 12px;
                        color: #fff;
                        line-height:18px;
                    }
                    >.m_dt_item_b{
                        margin-top:5px;
                        height:18px;
                        >.m_dt_item_more{
                              color:#fff;
                        }
                    }
                }
            }   
        }
    }
}


 .footer{
    padding-top: 35px;
    >.footer_one{
        padding-bottom: 20px;
        >ul{
            >li{
                width: 150px;
                margin-right: 5px;
                >h2{
                    font-size: 16px;
                    color:#735e49;
                    line-height: 30px;
                    padding-bottom: 5px;
                }
                >ul{
                    >li{
                        >a{
                          font-size: 12px;
                          color: #fff;
                          line-height: 24px;
                        }
                    }
                }
            }
        }
    }
    >.footer_two{
          height: 48px;
          line-height: 48px;
          background: #1f1f23;
          color: #666;
          position: relative;
          >.footer_two_w{
              >.footer_two_cr{
                  color: #fff;
              }
              >span{
                  >em{
                    color:#fff;
                  }
                  >a{
                      color:#fff;
                  }
              }      
          }
      }
 }