.content {
  width: 100%;
  min-width: 1200px;
}
.content > .m_banner {
  width: 100%;
  height: 90px;
  padding-top: 90px;
}
.content > .m_banner > .banner_w > h2 {
  font-size: 46px;
  color: #fff;
  height: 90px;
  line-height: 46px;
}
.content > .m_main {
  padding-bottom: 110px;
  padding-top: 86px;
}
.content > .m_main > .m_main_l {
  width: 520px;
  height: 380px;
}
.content > .m_main > .m_main_r {
  padding-top: 55px;
  padding-left: 75px;
  width: 505px;
}
.content > .m_main > .m_main_r > .info {
  line-height: 40px;
  font-size: 18px;
  color: #969696;
  text-align: justify;
}
.content > .m_main > .m_main_r > .m_more {
  line-height: 40px;
  font-size: 16px;
  color: #ababab;
}
.content > .m_main > .m_main_r > .m_more > a {
  color: #666;
  font-weight: bold;
}
