.m_deposit{
    padding-top:93px;
    .deposit_header{
        >.header_l{
          width: 300px;
          height: 150px;
          background-color: #e1cc55;
            >h2{
              padding:90px 10px 0 70px;
              text-align:center;
              line-height:36px;
              height:36px;
              color:#fff;
              font-size:28px;
              font-weight:bold;
            }    
        }
        >.header_r{
              width: 800px;
              height:150px;
        }
    }

    .deposit_body{
        >.deposit_content{
            width:900px;
            margin:10px auto;
            >.step{
              border:2px solid #e1cc55;
              margin-bottom: 20px;
                padding:20px 0 20px 20px;
                >.step_t{
                  color:#e1cc55;
                  width:580px;
                  line-height: 20px;
                  font-size:14px;
                  margin-bottom: 10px;
                }
                &.last_step{
                    border:0 none;
                    margin-top: -15px;
                    >p{
                        
                    }
                }
            }
        }
    }
}